[submodule "_site"]
	path = _site
	url = https://github.com/andrew-christianson/andrew-christianson.github.io.git
	branch = master
[submodule "deploy"]
	path = deploy
	url = https://github.com/andrew-christianson/andrew-christianson.github.io
	branch = master
